<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class = "about content">
        <h2>About Us</h2>
        
        <P>A “blog” is an updated version of the old term “weblog,” used to describe websites that maintain an ongoing chronicle of information. </P>
        <P>A blog features diary-type commentary and links to articles on other websites, usually presented as a list of entries in reverse chronological order.</P>
        

    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>